body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#networkCanvas {
    background-color: black;
}
#carCanvas {
    background-color: black;
}

@media screen and (max-width: 800px) {
    #networkCanvas {
        display: none;
    }
    button {
        padding: 10px;
        aspect-ratio: 1/1;
    }
}